## Tratamento data e hora das posições

Nesse notebook são tratadas a data e hora das posições dos ônibus

In [1]:
import pandas as pd
from utils.load_csv import load_csv
from utils.save_csv import save_csv

In [2]:
df_posicoes = load_csv('df_posicoes.csv')

In [3]:
df_posicoes["timestamp"] = pd.to_datetime(df_posicoes["timestamp"])

In [4]:
df_posicoes['timestamp'] = df_posicoes['timestamp'].dt.tz_convert("America/Sao_Paulo")

df_posicoes

,linha,id_onibus,timestamp,lat,lon,is_eletrico,modelo
0,917H-10,11897,2025-09-23 10:19:04-03:00,-23.486367,-46.726082,False,Padron
1,917H-10,11886,2025-09-23 10:18:57-03:00,-23.589215,-46.634663,False,Articulado (18m)
2,917H-10,11882,2025-09-23 10:18:59-03:00,-23.589249,-46.633758,True,Básico
3,917H-10,11718,2025-09-23 10:19:04-03:00,-23.535546,-46.726671,True,Articulado (23m)
4,917H-10,11903,2025-09-23 10:19:36-03:00,-23.486014,-46.725750,False,Articulado (18m)
...,...,...,...,...,...,...,...
74789,6813-10,72019,2025-09-23 10:25:40-03:00,-23.662937,-46.762801,True,Básico
74790,4008-21,48243,2025-09-23 10:26:04-03:00,-23.579354,-46.432372,True,Articulado (18m)
74791,4086-10,47390,2025-09-23 10:25:43-03:00,-23.583050,-46.407673,True,Articulado (18m)
74792,3010-10,36189,2025-09-23 10:25:47-03:00,-23.513862,-46.447780,False,Midiônibus
74793,846M-10,11960,2025-09-23 10:25:38-03:00,-23.566173,-46.701842,False,Miniônibus

In [5]:
save_csv(df_posicoes, 'df_posicoes.csv')

Base salva em data\df_posicoes.csv