## Cálculo da emissão e distância percorrida

Nesse notebook é calculada a distância percorrida entre os pontos e a emissão de poluentes

In [1]:
import pandas as pd
import random
import numpy as np
import random
import geopandas as gpd
from utils.save_csv import save_csv
from utils.load_csv import load_csv
from datetime import datetime
from pyproj import Transformer

In [2]:
consumo_diesel = load_csv('consumo_diesel.csv')

df_posicoes = load_csv('df_posicoes.csv')

In [3]:
df_posicoes = df_posicoes.merge(consumo_diesel, left_on="modelo", right_on="tecnologia", how="left")

In [4]:
# aleatorização do ar condicionado

np.random.seed(42)

df_posicoes["tem_ar"] = np.random.choice([True, False], size=len(df_posicoes))

df_posicoes

,linha,id_onibus,timestamp,lat,lon,is_eletrico,modelo,tecnologia,sem_ar_l_km,sem_ar_kg_km,com_ar_l_km,com_ar_kg_km,tem_ar
0,5010-10,68853,2025-10-02 12:48:43-03:00,-23.649045,-46.640405,False,Articulado (18m),Articulado (18m),0.71,0.596,0.80,0.672,True
1,5010-10,68383,2025-10-02 12:48:52-03:00,-23.662680,-46.631144,False,Midiônibus,Midiônibus,0.40,0.336,0.47,0.395,False
2,5010-10,68142,2025-10-02 12:49:09-03:00,-23.642878,-46.656716,False,Padron,Padron,0.55,0.462,0.63,0.529,True
3,5010-10,68338,2025-10-02 12:49:12-03:00,-23.662680,-46.631144,False,Articulado (23m),Articulado (23m),0.75,0.630,0.85,0.714,True
4,5010-10,68362,2025-10-02 12:49:06-03:00,-23.644669,-46.673169,False,Básico,Básico,0.46,0.386,0.53,0.445,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
149815,4092-10,47857,2025-10-02 12:56:07-03:00,-23.580189,-46.419959,False,Padron,Padron,0.55,0.462,0.63,0.529,True
149816,7062-10,78133,2025-10-02 12:56:21-03:00,-23.641820,-46.766292,False,Midiônibus,Midiônibus,0.40,0.336,0.47,0.395,True
149817,7053-22,78167,2025-10-02 12:55:46-03:00,-23.637100,-46.779115,False,Biarticulado,Biarticulado,0.80,0.672,0.90,0.756,True
149818,4008-21,48384,2025-10-02 12:56:26-03:00,-23.578815,-46.432018,False,Padron,Padron,0.55,0.462,0.63,0.529,False
149819,6051-31,66865,2025-10-02 12:56:07-03:00,-23.763236,-46.689578,False,Articulado (18m),Articulado (18m),0.71,0.596,0.80,0.672,False

In [5]:
gdf = gpd.GeoDataFrame(df_posicoes, geometry=gpd.points_from_xy(df_posicoes.lon, df_posicoes.lat), crs="EPSG:4326")

gdf = gdf.to_crs("EPSG:31983")

gdf

,linha,id_onibus,timestamp,lat,lon,is_eletrico,modelo,tecnologia,sem_ar_l_km,sem_ar_kg_km,com_ar_l_km,com_ar_kg_km,tem_ar,geometry
0,5010-10,68853,2025-10-02 12:48:43-03:00,-23.649045,-46.640405,False,Articulado (18m),Articulado (18m),0.71,0.596,0.80,0.672,True,POINT (332687.686 7383667.185)
1,5010-10,68383,2025-10-02 12:48:52-03:00,-23.662680,-46.631144,False,Midiônibus,Midiônibus,0.40,0.336,0.47,0.395,False,POINT (333649.734 7382168.184)
2,5010-10,68142,2025-10-02 12:49:09-03:00,-23.642878,-46.656716,False,Padron,Padron,0.55,0.462,0.63,0.529,True,POINT (331015.815 7384330.966)
3,5010-10,68338,2025-10-02 12:49:12-03:00,-23.662680,-46.631144,False,Articulado (23m),Articulado (23m),0.75,0.630,0.85,0.714,True,POINT (333649.734 7382168.184)
4,5010-10,68362,2025-10-02 12:49:06-03:00,-23.644669,-46.673169,False,Básico,Básico,0.46,0.386,0.53,0.445,True,POINT (329339.667 7384113.118)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149815,4092-10,47857,2025-10-02 12:56:07-03:00,-23.580189,-46.419959,False,Padron,Padron,0.55,0.462,0.63,0.529,True,POINT (355099.596 7391532.745)
149816,7062-10,78133,2025-10-02 12:56:21-03:00,-23.641820,-46.766292,False,Midiônibus,Midiônibus,0.40,0.336,0.47,0.395,True,POINT (319835.301 7384314.174)
149817,7053-22,78167,2025-10-02 12:55:46-03:00,-23.637100,-46.779115,False,Biarticulado,Biarticulado,0.80,0.672,0.90,0.756,True,POINT (318520.615 7384820.6)
149818,4008-21,48384,2025-10-02 12:56:26-03:00,-23.578815,-46.432018,False,Padron,Padron,0.55,0.462,0.63,0.529,False,POINT (353867.385 7391672.635)
149819,6051-31,66865,2025-10-02 12:56:07-03:00,-23.763236,-46.689578,False,Articulado (18m),Articulado (18m),0.71,0.596,0.80,0.672,False,POINT (327821.3 7370963.007)

In [6]:
gdf["x"] = gdf.geometry.x
gdf["y"] = gdf.geometry.y

gdf.head()

,linha,id_onibus,timestamp,lat,lon,is_eletrico,modelo,tecnologia,sem_ar_l_km,sem_ar_kg_km,com_ar_l_km,com_ar_kg_km,tem_ar,geometry,x,y
0,5010-10,68853,2025-10-02 12:48:43-03:00,-23.649045,-46.640405,False,Articulado (18m),Articulado (18m),0.71,0.596,0.80,0.672,True,POINT (332687.686 7383667.185),332687.685799,7.383667e+06
1,5010-10,68383,2025-10-02 12:48:52-03:00,-23.662680,-46.631144,False,Midiônibus,Midiônibus,0.40,0.336,0.47,0.395,False,POINT (333649.734 7382168.184),333649.734082,7.382168e+06
2,5010-10,68142,2025-10-02 12:49:09-03:00,-23.642878,-46.656716,False,Padron,Padron,0.55,0.462,0.63,0.529,True,POINT (331015.815 7384330.966),331015.814984,7.384331e+06
3,5010-10,68338,2025-10-02 12:49:12-03:00,-23.662680,-46.631144,False,Articulado (23m),Articulado (23m),0.75,0.630,0.85,0.714,True,POINT (333649.734 7382168.184),333649.734082,7.382168e+06
4,5010-10,68362,2025-10-02 12:49:06-03:00,-23.644669,-46.673169,False,Básico,Básico,0.46,0.386,0.53,0.445,True,POINT (329339.667 7384113.118),329339.666989,7.384113e+06

In [7]:
#consumo_diesel['emissa_no2_l_diesel'] = [random.uniform(0.02, 0.05) for _ in range(len(consumo_diesel))]

#consumo_diesel['emissa_co2_l_diesel'] = [random.uniform(0.05, 0.1) for _ in range(len(consumo_diesel))]

In [8]:
def get_tipo_onibus(id_onibus):

    onibus = df_posicoes[df_posicoes['id_onibus']==id_onibus]

    return onibus['modelo'].unique()[0]

In [9]:
def get_fator_consumo(tipo_veiculo):

    cosumo_modelo = consumo_diesel[consumo_diesel['tecnologia']==tipo_veiculo]

    return cosumo_modelo['com_ar_l_km'].unique()[0]



def get_consumo_co2(row, km_rodados):

    fator_emissao_co2 = 2.671 

    consumo_l_km = row["com_ar_l_km"] if row["tem_ar"] else row["sem_ar_l_km"]

    emissao_co2 = km_rodados * consumo_l_km * fator_emissao_co2
    
    return emissao_co2

In [10]:
data_frame = []

for id_onibus in gdf['id_onibus'].unique():
    df_onibus = gdf[gdf['id_onibus'] == id_onibus].sort_values(by='timestamp').reset_index(drop=True)

    for i, row in df_onibus.iterrows():
        if i < len(df_onibus)-1:
            x_atual = row['x']
            x_depois = df_onibus.loc[i+1, 'x']
            y_atual = row['y']
            y_depois = df_onibus.loc[i+1, 'y']

            dist = np.sqrt((x_depois - x_atual)**2 + (y_depois - y_atual)**2) / 1000

            momento_inicial = row['timestamp']
            momento_final = df_onibus.loc[i+1, 'timestamp']

            dados = {
                'id_onibus': row['id_onibus'],
                'linha': row['linha'],
                'is_eletrico': row['is_eletrico'],
                'distancia_km': dist,
                'ponto_inicial': [x_atual, y_atual],
                'ponto_final': [x_depois, y_depois],
                'momento_inicial': momento_inicial,
                'momento_final': momento_final,
                'modelo': row['modelo'],
                'tem_ar': row['tem_ar'],
                #'emissao_no2': get_consumo_no2(row, dist),
                'emissao_co2': get_consumo_co2(row, dist)
            }

            data_frame.append(dados)


gdf_final = pd.DataFrame(data_frame)
gdf_final.head()

,id_onibus,linha,is_eletrico,distancia_km,ponto_inicial,ponto_final,momento_inicial,momento_final,modelo,tem_ar,emissao_co2
0,68853,5010-10,False,0.148350,"[332687.68579879985, 7383667.184539581]","[332792.2284083655, 7383772.438907389]",2025-10-02 12:48:43-03:00,2025-10-02 12:49:30-03:00,Articulado (18m),True,0.316994
1,68853,5010-10,False,0.032385,"[332792.2284083655, 7383772.438907389]","[332804.84353484295, 7383802.265905192]",2025-10-02 12:49:30-03:00,2025-10-02 12:50:12-03:00,Articulado (18m),False,0.061415
2,68853,5010-10,False,0.000000,"[332804.84353484295, 7383802.265905192]","[332804.84353484295, 7383802.265905192]",2025-10-02 12:50:12-03:00,2025-10-02 12:50:12-03:00,Articulado (18m),False,0.000000
3,68853,5010-10,False,0.087365,"[332804.84353484295, 7383802.265905192]","[332744.1297509116, 7383865.086503765]",2025-10-02 12:50:12-03:00,2025-10-02 12:51:22-03:00,Articulado (18m),True,0.186681
4,68853,5010-10,False,0.051327,"[332744.1297509116, 7383865.086503765]","[332692.8276940262, 7383863.500523301]",2025-10-02 12:51:22-03:00,2025-10-02 12:51:41-03:00,Articulado (18m),True,0.109675

In [11]:
gdf_final["emissao_co2"] = gdf_final["emissao_co2"] / 1000 # toneladas

In [12]:
gdf_final['momento_inicial'] = pd.to_datetime(gdf_final['momento_inicial'])

In [13]:
transformer = Transformer.from_crs("EPSG:31983", "EPSG:4326", always_xy=True)

dados_trips_layer = []

for onibus in gdf_final['id_onibus'].unique():
    df_onibus = gdf_final[gdf_final['id_onibus'] == onibus].reset_index(drop=True)
    coordinates = []
    timestamps = []
    emissao_total = 0
    df_onibus.sort_values(by='momento_inicial', inplace=True)
    
    for i, row in df_onibus.iterrows():
        x, y = row['ponto_inicial']  
        lon, lat = transformer.transform(x, y) 
        
        coordinates.append([lon, lat])
        stamp = datetime.fromisoformat(row['momento_inicial'].isoformat())
        timestamps.append(stamp)
        emissao_total += row['emissao_co2']
    
    dados_trips_layer.append({
        'id_onibus': onibus,
        'linha': row['linha'],
        'emissao_co2': emissao_total,
        'is_eletrico': row['is_eletrico'],
        'coordinates' : coordinates, 
        'timestamps' : timestamps
    })

df_trips = pd.DataFrame(dados_trips_layer)

In [14]:
def init_on_zero(timestamp_list)->list[float]:
    
    inicial = timestamp_list[0]

    new_timestamps = [ts - inicial for ts in timestamp_list]

    return [int(ts.total_seconds()) for ts in new_timestamps]

df_trips['timestamps'] = df_trips['timestamps'].apply(init_on_zero)

In [15]:
coord_t = str(df_trips.loc[0, 'coordinates'])

In [16]:
eval(coord_t)

[[-46.640405, -23.649045499999996],
 [-46.6393685, -23.648105999999995],
 [-46.6392415, -23.647838],
 [-46.6392415, -23.647838],
 [-46.6398295, -23.6472645],
 [-46.6403325, -23.647273499999997],
 [-46.6403325, -23.647273499999997],
 [-46.641467000000006, -23.646593999999993],
 [-46.642595, -23.646401999999995],
 [-46.644012, -23.646169750000002],
 [-46.644012, -23.646169750000002],
 [-46.644012, -23.646169750000002],
 [-46.6444255, -23.646103499999995],
 [-46.6444255, -23.646103499999995]]

In [17]:
df_trips.loc[0, 'timestamps']

[0, 47, 89, 89, 159, 178, 178, 225, 266, 311, 311, 355, 399, 412]

In [18]:
df_trips = df_trips[['coordinates', 'timestamps']]

In [19]:
gdf_final

,id_onibus,linha,is_eletrico,distancia_km,ponto_inicial,ponto_final,momento_inicial,momento_final,modelo,tem_ar,emissao_co2
0,68853,5010-10,False,0.148350,"[332687.68579879985, 7383667.184539581]","[332792.2284083655, 7383772.438907389]",2025-10-02 12:48:43-03:00,2025-10-02 12:49:30-03:00,Articulado (18m),True,0.000317
1,68853,5010-10,False,0.032385,"[332792.2284083655, 7383772.438907389]","[332804.84353484295, 7383802.265905192]",2025-10-02 12:49:30-03:00,2025-10-02 12:50:12-03:00,Articulado (18m),False,0.000061
2,68853,5010-10,False,0.000000,"[332804.84353484295, 7383802.265905192]","[332804.84353484295, 7383802.265905192]",2025-10-02 12:50:12-03:00,2025-10-02 12:50:12-03:00,Articulado (18m),False,0.000000
3,68853,5010-10,False,0.087365,"[332804.84353484295, 7383802.265905192]","[332744.1297509116, 7383865.086503765]",2025-10-02 12:50:12-03:00,2025-10-02 12:51:22-03:00,Articulado (18m),True,0.000187
4,68853,5010-10,False,0.051327,"[332744.1297509116, 7383865.086503765]","[332692.8276940262, 7383863.500523301]",2025-10-02 12:51:22-03:00,2025-10-02 12:51:41-03:00,Articulado (18m),True,0.000110
...,...,...,...,...,...,...,...,...,...,...,...
139714,73205,6014-10,False,0.000000,"[317105.7824061066, 7373509.694308272]","[317105.7824061066, 7373509.694308272]",2025-10-02 12:55:50-03:00,2025-10-02 12:55:50-03:00,Midiônibus,True,0.000000
139715,48005,407G-10,False,0.252541,"[352769.53811401135, 7389163.07991912]","[353021.55868181016, 7389146.87623181]",2025-10-02 12:55:35-03:00,2025-10-02 12:56:20-03:00,Articulado (23m),True,0.000573
139716,61310,6960-10,False,0.000000,"[325377.1291750581, 7382996.118304582]","[325377.1291750581, 7382996.118304582]",2025-10-02 12:55:37-03:00,2025-10-02 12:56:21-03:00,Miniônibus,True,0.000000
139717,61322,5370-10,False,0.000000,"[325117.0786599126, 7370478.8199460115]","[325117.0786599126, 7370478.8199460115]",2025-10-02 12:55:29-03:00,2025-10-02 12:56:14-03:00,Miniônibus,False,0.000000
139718,64428,5164-21,False,0.000000,"[332060.98908384267, 7383286.284807486]","[332060.98908384267, 7383286.284807486]",2025-10-02 12:55:37-03:00,2025-10-02 12:56:21-03:00,Miniônibus,False,0.000000

In [20]:
df_trips

,coordinates,timestamps
0,"[[-46.640405, -23.649045499999996], [-46.63936...","[0, 47, 89, 89, 159, 178, 178, 225, 266, 311, ..."
1,"[[-46.6311435, -23.662679500000003], [-46.6311...","[0, 44, 88, 88, 132, 177, 177, 221, 265, 265, ..."
2,"[[-46.656716, -23.642878], [-46.656716, -23.64...","[0, 0, 45, 89, 133, 133, 177, 221, 221, 266, 3..."
3,"[[-46.6311435, -23.662679500000003], [-46.6311...","[0, 0, 44, 89, 89, 133, 177, 221, 221, 280, 31..."
4,"[[-46.6731685, -23.6446685], [-46.6731685, -23...","[0, 0, 49, 88, 133, 133, 177, 221, 221, 265, 3..."
...,...,...
10085,"[[-46.7943745, -23.739058000000004]]",[0]
10086,"[[-46.4430215, -23.6013765]]",[0]
10087,"[[-46.7121355, -23.6543295]]",[0]
10088,"[[-46.7161625, -23.767314499999998]]",[0]
10089,"[[-46.6465905, -23.652419499999993]]",[0]

In [21]:
save_csv(gdf_final, 'gdf_final.csv')

save_csv(df_trips, 'df_trips.csv')

Base salva em data\gdf_final.csv
Base salva em data\df_trips.csv